<p>
  county-list works!
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>

    <!-- Filter the Countys   -->
    <div class="panel-body">
        <!-- <div class="row">
            <div class="col-md-2">Filter by:</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter" />
            </div>
        </div> -->
        <!-- <div class="row" *ngIf="listFilter"> -->
        <div class="row" *ngIf="true">
            <div class="col-md-6">
                <h3>Filtered by: {{listFilter}} </h3>
            </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="table-responsive">
            <table class="table"
                   *ngIf="countys && countys.length">
                <thead>
                    <tr>

                        <th>County</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let county of countys ">
                        
                        <td><a [routerLink]="[county.id]" 
                               [queryParams]="{filterBy: listFilter, showImage: showImage}">
                            {{county.countyName}}
                            </a>
                        </td>
                        <td>{{ county.WindSpeed  }}</td>
                        <td>{{ county.countyId }}</td>
                        <td>{{ county._id}}</td>
                        
                       <td>
                            <a class="btn btn-primary" 
                               [routerLink]="[county.id, 'edit']">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>