<p>
  county-edit works - comming soon!
</p>
<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
<div class="panel-body">
    <form class="form-horizontal"
          novalidate
          (ngSubmit)="saveCounty()"
          [formGroup]="countyForm"
    >
    <fieldset>
        <div class="form-group" [ngClass]="{'has-error': displayMessage.countyName }">
        <label class="col-md-2 control-label" for="productNameId">County Name</label>
            <div class="col-md-8">
                <input class="form-control" 
                        id="countyNameId" 
                        type="text" 
                        placeholder="County Name (required)" 
                        formControlName="countyName" />
                <span class="help-block" *ngIf="displayMessage.countyName">
                        {{displayMessage.countyName}}
                </span>
            </div>
        </div>
    </fieldset>

    </form>
</div>
 <div class="panel-footer">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            type="button"
                            style="width:80px;margin-right:10px"
                            [disabled]="!isValid()"
                            (click)="saveCounty()">
                        Save
                    </button>
                </span>
                <span>
                    <a class="btn btn-default"
                        [routerLink]="['/countys']">
                        Cancel
                    </a>
                </span>
                <span>
                    <a class="btn btn-default"
                        (click)="deleteCounty()">
                        Delete
                    </a>
                </span>       
            </div>
        </div>
    </div> 

    <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

</div>