<div class="panel panel-primary"
     *ngIf='county'>
    <div class="panel-heading">
        {{ pageTitle + ": " + county.countyName }}
    </div>

    <div class="panel-body">
        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>

        <div class="row">
            <div class="col-md-2">County Name: </div>
            <div class="col-md-10">{{ county.countyName }}</div>
        </div>
        <div class="row">
            <div class="col-md-2">Rapid Shutdown: </div>
            <div class="col-md-10" *ngIf=county.RapidShutdown >Required</div>
            <div class="col-md-10" *ngIf=!county.RapidShutdown >Not Required</div>
        </div>
        <div class="row">
            <div class="col-md-2">Footing Plan: </div>
            <div class="col-md-10" *ngIf=county.FootingPlan>Required</div>
            <div class="col-md-10" *ngIf=!county.FootingPlan>Not Required</div>
        </div>
        <div class="row">
            <div class="col-md-2">Ground Snow Load (psf): </div>
            <div class="col-md-10">{{ county.groundSnowLoad}}</div>
        </div>
        
        <div class="row">
            <div class="col-md-2">WindSpeed: </div>
            <div class="col-md-10">{{ county.WindSpeed }}</div>
        </div>

    </div>

    <div class="panel-footer">
        <a class="btn btn-default" (click)="onBack()" style="width:80px">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
        <a class="btn btn-primary" style="width:80px;margin-left:10px" [routerLink]="['/countys', county.id, 'edit']">
            Edit
        </a>
    </div>
</div>